  html {
  	box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif;
    background-color: #e2e2e2;
  }

  *, *::before, *::after {
  	box-sizing: inherit;
  }

  .img-flex {
    width: 100%;
    display: block;
  }

  .btn {
  display: block;
  font-size: 1.3rem;
  padding: 0.5em;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {

}
